name: "godot-ci export"
on: push

jobs:
  export_game:
    runs-on: ubuntu-latest
    permissions: write-all
    name: Export Game
    steps:
      - name: checkout
        uses: actions/checkout@v3.3.0

      - name: export game
        id: export
        uses: firebelley/godot-export@v7.0.0
        with:
          godot_executable_download_url: https://github.com/godotengine/godot/releases/download/4.5.1-stable/Godot_v4.5.1-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot/releases/download/4.5.1-stable/Godot_v4.5.1-stable_export_templates.tpz
          relative_project_path: ./
          archive_output: false

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: ${{ steps.export.outputs.build_directory }}/Windows/

      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: ${{ steps.export.outputs.build_directory }}/Linux/

      - name: Upload Web Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: ${{ steps.export.outputs.build_directory }}/Web/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        artifact-name: web
